<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Missing Person</title>

    <link href='../public/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css' rel="stylesheet">
</head>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">This one</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Missing</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
</header>
<hr>
<body>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Bootstrap: Basic Form</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="inputName">Name : </label>
                        <input type="text" class="form-control" id="inputName" placeholder="Enter name">
                        <p class="help-block">Lorem ipsum dolor sit amet</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="inputDOB">Date of Birth : </label>
                        <input type="text" class="form-control" id="inputDOB" placeholder="Enter DOB">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="inputPOB">Place of Birth : </label>
                        <input type="text" class="form-control" id="inputPOB" placeholder="Enter POB">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="exampleInputFile">Photo</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Active
                            </label>
                        </div>
                        <p class="help-block">Lorem ipsum dolor sit amet</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Choices</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1"
                                       checked="">
                                Option one is this and that—be sure to include why it's great
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
                                Option two can be something else and selecting it will deselect option one
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Sex</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Female
                            </label>
                        </div>
                        <p class="help-block">Lorem ipsum dolor sit amet</p>
                    </div>

                    <button type="submit" class="btn btn-default">Create User</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>