<!DOCTYPE html>
<html lang="en" ng-app="missingApp" >
<head>
    <meta charset="UTF-8">
    <title>Add Missing Person</title>

    <link href='/Missing/public/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css' rel="stylesheet">
    <link href='/Missing/public/stylesheets/style.css' rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

    <!--<script src="../public/javascripts/missing.js"></script>-->
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

    <!--<script src="/Missing/public/javascripts/missing.js"></script>-->
    <script src="../public/javascripts/missing.js"></script>
    <!--<script src="../public/javascripts/angular.js"></script>-->
    <!--<script src="../public/javascripts/angular-resource.js"></script>-->
    <!--<script src="../public/javascripts/angular-route.js"></script>-->


</head>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">This one</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="/Missing/public/resource/Logo.png" width="150" height="30">
                </a>
            </div>
        </div>
    </nav>
</header>
<hr>

<body ng-app="missingApp" ng-controller="addCtrl">

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Missing Person Form</div>
                <div class="panel-body">
                    <form role="form" id="inputForm" ng-submit="submit()">
                        <div class="form-group">
                            <label class="control-label" for="inputName">Name : <span style="color:red"> *required</span></label>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter name"
                                   ng-model="name" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputDOB">Date of Birth : </label>
                            <input type="date" class="form-control" id="inputDOB" placeholder="Enter DOB"
                                   ng-model="dob">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputPOB">Place of Birth : </label>
                            <input type="text" class="form-control" id="inputPOB" placeholder="Enter POB"
                                   ng-model="pob">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputPhoto">Photo <span style="color:red"> *required</span></label>
                            <input type="file" id="inputPhoto" ngf-select ng-model="file" name="file"
                                   ngf-pattern="'image/*'" ngf-accept="'image/*'" required>
                            <p class="help-block">Choose photo file.</p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputHair">Hair : </label>
                            <input type="text" class="form-control" id="inputHair"
                                   placeholder="Enter hair characteristics" ng-model="hair">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputEyes">Eyes : </label>
                            <input type="text" class="form-control" id="inputEyes"
                                   placeholder="Enter eyes characteristics" ng-model="eyes">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputHeight">Height : </label>
                            <input type="number" class="form-control" id="inputHeight" placeholder="Enter height in cm"
                                   ng-model="height">
                            <p class="help-block">Please input in cm.</p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputWeight">Weight : </label>
                            <input type="number" class="form-control" id="inputWeight" placeholder="Enter weight in Kg"
                                   ng-model="weight">
                            <p class="help-block">Please input in Kg.</p>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Sex</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="male" ng-model="sex" value="male" checked/>
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="female" ng-model="sex" value="female">
                                    Female
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputRace">Race : </label>
                            <input type="text" class="form-control" id="inputRace" placeholder="Enter race"
                                   ng-model="race">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSAM">Scars and Marks: </label>
                            <input type="text" class="form-control" id="inputSAM" placeholder="Enter scars and marks"
                                   ng-model="sam">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputReward">Reward : </label>
                            <input type="number" class="form-control" id="inputReward" placeholder="Enter reward in USD"
                                   ng-model="reward">
                            <p class="help-block">Please input in USD.</p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputRemarks">Remarks : </label>
                            <!--<input type="text" class="form-control" id="inputRemarks" placeholder="Enter remarks"-->
                                   <!--ng-model="remarks">-->
                            <textarea form="inputForm" class="form-control" id="inputRemarks" placeholder="Enter remarks"
                                      ng-model="remarks"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputDetails">Details : </label>
                            <!--<input type="text" class="form-control" id="inputDetails" placeholder="Enter details here"-->
                                   <!--ng-model="details">-->
                            <textarea form="inputForm" class="form-control" id="inputDetails" placeholder="Enter details here"
                                      ng-model="details"></textarea>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputContact">Contacts : <span style="color:red"> *required</span></label>
                            <input type="text" class="form-control" id="inputContact"
                                   placeholder="Enter phone number or email here" ng-model="contact" required>
                        </div>

                        <button type="submit" class="btn btn-success">Create User</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>